/* Default Light Theme */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #333;
    margin: 0;
    padding: 20px;
}
/* Dark Theme */
body.dark {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark header {
    background-color: #1e1e1e;
}

body.dark #theme-toggle {
    background-color: #333;
    color: #fff;
}


