/* Default Light Theme */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}
